
[Unit]
Description=Run script every hour

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/python3/site-packages/dbustimer/script_dbus.py

[Install]
WantedBy=multi-user.target
