
[Unit]
Description=Run script every hour

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/student/script/script_dbus.py 

[Install]
WantedBy=multi-user.target
